.containerImageItems{
    display: flex;
    flex-direction: row;
    height: 70vh;
    padding: 10px;
}

.containerColumn{
    display:flex;
    flex-direction: column;
    width:30vw;
    margin-left: 10px;
}

.containerColumnItems{
    background-color: rgb(250, 243, 243);
    width:100%;
    height:50%;
    
}