// .navbar {
//     display: flex;
//     background-color: white;
//     text-decoration: none;
//     top: 0;
//     position: sticky;
//     width: 100%;
//     z-index: 3;
//     border-bottom: 3px solid rgba(84, 43, 5, 0.919);
// }
.navbar {
  display: flex;
   align-items: center;
//   justify-content: space-between;
  background-color: white;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 3;
  // border-bottom: 3px solid rgba(84, 43, 5, 0.919);
//  padding: 1vh 2vw;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

.mobileMenuIcon {
  display: none;
  font-size: 5vmax;
  cursor: pointer;
}

.menuItems {
  display: flex;
  flex-direction: row;
}

// .menuItems.open {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
// }

@media (max-width: 840px) {
  .mobileMenuIcon {
    display: flex;
    color: rgba(84, 43, 5, 0.919)
  }

  .menuItems {
    display: none;
    width: 100%;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    border-top: 1px solid #ccc;
  }

  .menuItems.open {
    display: flex;
    width: 50vw;
    height: 100vh;
  }

  .navbarItems {
    padding: 1rem;
    font-size: 1.2rem;
    border-bottom: 2px solid rgb(176, 169, 169);
  }

  .loginInfo {
    position: static;
    margin-top: 10px;
    justify-content: flex-end;
  }

  .loginInfoUsername {
    font-size: 1rem;
  }

  .cartIconContainer {
    padding: 0.5rem 1rem;
  }
}

.navbarItems {
    padding: 2vh;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    font-family:Inter, -apple-system, Helvetica, Arial, sans-serif;
}

.navbarItems:hover {
    border-bottom: 2px solid white;
}

.navbarItemsLink {
    text-decoration: none;
    color: rgba(93, 53, 15, 0.919);
    display: block;
   
}

.loginInfo {
    display: flex;
    flex: 1;
    color: black;
    right: 0px;
    position: absolute;
    height: 100%;
    margin-right: 2vw;
    cursor: pointer;
}

.loginInfoUsername {
    display: flex;
    flex: 1;
    color: black;
    white-space: nowrap;
    align-items: center;
    font-size: 3vmin;
    margin-right: 1vw;
}

.loginImageContainer {
    display: flex;
    align-items: center;
    flex: 1;
    object-fit: contain;
    font-size: 3vmin;
}

.loginInfoImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 3;
}
.dropDownContainer{
    position:absolute;
    background-color: white;
    top:100%;
    right: 0;
    z-index: 100;
    display: none;
    flex-direction: column;
    //border-radius: 5px;
   // border: 2px solid;
    box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.16);
   //border: 1px solid black;
    min-width: 120px;
}
.dropdownWrapper {
  position: relative;
  display: flex;

    &:hover .dropDownContainer {
    display: flex;
  }
}


.dropDownContainerItem{
    display:flex;
  //  height:4vh;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    border-bottom: 1px solid #a9a3a3;
}

.dropDownContainerItem svg{
    margin-right:5px;
}
.logoutButton{
    background-color: rgb(208, 62, 62);
    height:auto;
    width:auto;
}
.profileLink{
    color:black;
    
    text-decoration: none;
    
}

.cartIconContainer {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.cartIcon {
  font-size: 2rem;
  color: #654321; // Adjust as needed
  transition: transform 0.2s;
}

.cartIcon:hover {
  transform: scale(1.1);
}

.logoContainer {
  display: flex;
  align-items: center;
 // margin-right: auto; // push menu items to the right
}

.logoImage {
  height: 60px; // adjust size as needed
  width: auto;
}
