.navbar{
    display:flex;
    background-color: rgba(84, 43, 5, 0.919);
    text-decoration: none;
    top: 0;
    position: sticky;
    

}
.navbar_items{
    padding: 2vh;
    font-size: 3vh;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.navbar_items:hover{
    border-bottom: 2px solid white;
}
.navbar_items_link{
    text-decoration: none;
     color: white;
    
}