.flipDoorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50vw;
  height:100vh;
  background-color: rgb(248 248 248);
}

.doorWrapper {
  width: 256px;
  height: 384px;
  perspective: 1000px;
  overflow: hidden;
}

.door {
  width: 100%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center;
  background-color: gray;
}

.doorFace {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backface-visibility: hidden;
  object-fit: cover;
}



.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.flipButton {
  padding: 0.5rem 0.9rem;
  border-radius: 8px;
  border: 1px solid rgba(1, 55, 94);   
  background: #ffffff;
  color: rgba(1, 55, 94);
  font-weight: 500;
  cursor: pointer;
  transition: background-color .2s ease, color .2s ease, box-shadow .2s ease;

  &:hover { background: #e0e7ff; } /* light indigo */
}

.active {
  background: rgba(1, 55, 94);  /* active = darker */
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(59,130,246,.35);

  &:hover { background: rgba(79, 130, 241); } 
}


.buttonGroup {
  display: inline-flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.carvingOverlay {
  opacity: 0.4;
}
