.sliderContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    background-color: rgb(227, 227, 215);
    z-index: 0;
    border-top: 3px solid rgb(55, 84, 6);
    border-bottom: 3px solid rgb(55, 84, 6);
}

.slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;       
}

.sliderImageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.sliderImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease;
}

.arrow:hover {
    transform: scale(1.1);
}

.left {
    left: 2vw;
}

.right {
    right: 2vw;
    transform: rotate(180deg);
}

.right:hover {
    transform: scale(1.1) rotate(180deg); /* Combine both scale and rotate */
}

.fullImage {
    height: 100%;
    width: 100%;
}


